
#app-header {
	display: none;
}

#app-console {
	display: none !important;
}

#song-content {
	width:  8.3in;
	height: 11in;
	margin: 0px;
	color: #000;
	overflow: hidden;
	background-color: #fff;
}

#close-preview {
	visibility: hidden;
}

