
svg {
	border: none; /* solid 1px #000; */
}

#song-body {
	overflow: auto;
	padding: 0px;
	margin: 0px;
	margin-left:1em;
}

#song-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(1in, 2in));
	grid-gap: 0px;
	justify-content: center;
/*
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 2em;
*/
}

/*
#song-grid > div {
	border: thin solid purple;
	width: 2in;
	height: 1in;
}
*/
.measure {
	border: thin solid blue;
	width: 2in;
	height: 1in;
}

#save-button {
	width: 4em;
}

#print-button {
	display: none;
}

#song-filename {
	padding-top: 5px;
	width: 30em;
}

#song-page {
}

nav {
}
/*
#toolbar {
	height: 28px;
	width: 100%;
	display: flex;
	font-weight: normal;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-start;
	align-items: stretch;
  background-color: #d0e5ff;
	border: thin solid #000;
}
*/

/*
#toolbar ul.console-item {
	list-style: none;
	padding-left: 1em;
	margin-top: .4em;
}

ul.console-item:first-child  li:hover {
	font-weight: bold;
}

ul.console-item:hover {
  font-weight: bold;
}
*/

ul.dropdown > ul {
	list-style: none;
	visibility: hidden;
}

ul.dropdown ul > li {
	padding: .3em;
  background-color: #d0e5ff;
}

/*
ul.dropdown ul > li:hover {
	background-color: #b7dffe;
	visibility: visible;
}
*/

/*
.console-item {
	cursor: pointer;
	width: 100px;
	margin-top: .05em;
	margin-left: 1em;
	margin-right: 1em;
}
*/

.right-side {
	float:right;
	width: 22%;
	margin-right: 1em;
}

#song-filename {
	width: 10em;
}

.chord-div {
	width: 100px;
	cursor: pointer;
	margin: 1em;
}

#chord-family {
	margin-top: 1em;
}

.chord-family {
	cursor: pointer;
}

.tooltip {
	display: none;
	width: 1in;
	height: .5in;
	background-color: pink;
}

.bar-container-CT {
	display: flex;
	flex-direction: row;
	font-size: 10px;
	/*
	height: 1.5in;
	width:  2in;
	*/
	padding: 0;
	margin: 0;
	/*
	border: thin solid #bbb;
	border: thin solid #f00;
	*/
}

/*
.bar-container-CT:hover {
	background-color: #eee;
}
*/

.bar-container-3QT {
	display: flex;
	flex-direction: row;
	height: 1.5in;
	width:  2in;
	padding: 0;
	margin: 0;
	border: thin solid #bbb;
}

.beat-3QT {
	display: block;
	width:  33%;
	padding: 0px;
	margin: 0px;
}

.beat-CT {
	display: block;
	width:  25%;
	padding: 0px;
	margin: 0px;
}

.bar-row {
	height: 33%;
	cursor: pointer;
	border-bottom: thin solid #ddd;
}

.chord-beat {
	height: 33%;
	width: 100%;
	line-height: 3em;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	border-bottom: thin solid #ddd;
	border: thin solid #ddd;
}

.meter-beat {
	height: 33%;
	/*overflow: hidden;
	 */
	background-color: #fff;
}

.lyrics-beat {
	height: 33%;
	cursor: pointer;
	vertical-align: middle;
	padding-top: 15px;
	padding-left: 2px;
	border-top: thin solid #ddd;
}

#chord-family-title {
	margin: 1em;
}

#chord-more-title {
	margin: 1em;
}

#chord-more {
	height: 200px;
}

#song-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: 200px;
}

#form-container {
	display: inline-block;
	flex: 1 0 auto;
}

#tags-container {
	padding-bottom: 1em;
}

/*
#chords-container {
	display: inline-block;
	visibility: hidden;
	flex: 2 0 auto;
	flex-wrap: no-wrap;
	overflow-y: scroll;
}

#chords-additional {
	display: grid;
	grid-template-columns: repeat(7, 80px);
}
*/

#popup-controls {
	text-align: center;
	height: 1.5em;
	width: 100%;
	margin-top: 1em;
	margin-right: .5em;
	background-color: #eee;
	border: thin solid #ddd;
}

#popup-close-control {
	float: right;
	cursor: pointer;
	margin-right: 1em;
}

#chord-popup-data {
	/*
	 *overflow: hidden;
	 */
}

#chord-popup {
	display: none;
	position: absolute;
	width: 50%;
	height: 500px;
	background-color: white;
	background-color: rgba(0,0,0,0.4)
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	-webkit-background-clip: padding-box; 
	/*
	-moz-border-radius: 20px; 
	-moz-background-clip:    padding; 
	*/
	background-clip:         padding-box;
	border: thin solid #ccc;
}

/*
#bpm-input {
  width: 20px;
	height: 20px;
	background: url('bg.png');
	background-repeat: none;
}
*/

