/*
 * toolbar.css
 */

#toolbar {
	position: relative;
	font-size: 14px;
	height: 28px;
	width: 100%;
	font-weight: normal;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	padding: 0px;
	padding-top: .25em;
	margin: 0px;
  background-color: #d0e5ff;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(208,229,255,1) 0%, rgba(0,212,255,1) 100%);
}

#toolbar .toolbar-item {
	height: 100%;
	padding: 0px;
	margin: 0px;
	margin-top: .25em;
}

#toolbar .dropdown-label {
	cursor: pointer;
}

#toolbar .float-right {
	margin-left: auto;
}

#toolbar .dropdown-menu-container .dropdown-label {
	padding-left: 1em;
}

#toolbar ul.dropdown-menu {
	color: #000;
  background-color: #d0e5ff;
	text-align: left;
	list-style: none;
	width: 8em;
	padding: 0px;
	margin: 0px;
	margin-right: 1em;
	margin-top: 1px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	opacity: .999;
}

#toolbar .dropdown-menu-container:hover .dropdown-menu {
	margin-left:2px;
	padding-left: .25em;
	padding-right: .25em;
}

#toolbar .dropdown-menu-container:hover .dropdown-label {
	pointer: cursor;
	background-color: fuscia;
	/*
	 display: block;
	 */
}

ul.dropdown-menu li {
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding: .30em;
	text-overflow: ellipsis;
}

ul.dropdown-menu li:hover {
	cursor: pointer;
	background-color: #a7d6ff;
	border: thin ridge #000;
}

/*
ul.dropdown-menu li:hover .dropdown-submenu {
	background-color: purple;
}
*/

ul.dropdown-submenu {
	position: absolute;
	/*
	top: 20px;
	left:20px;
	*/
	list-style: none;
	padding: 0px;
	width: 100px;
	margin-left: 1em;
	/*
	background-color: purple;
	*/
}

	/*
ul.dropdown-menu li#recent-files-opened:hover {
	 * background-color:salmon;
}
	 */

li#recent-files-opened:hover {
	cursor: pointer;
	cursor: default;
}

li#recent-files-opened:hover ul.dropdown-submenu {
	cursor: pointer;
	background-color: #a7d6ff;
	/*
	display: inline;
	visibility: visible; /*!important;/*
	z-index:2000;
	background-color: aqua;
	*/
	width: 180px;
	text-overflow: ellipsis;
}

li#recent-files-opened:hover ul.dropdown-submenu li:hover{
	background-color: #ddd;
	border: thin groove #000;
}

ul.dropdown-submenu {
	background-color: #a7d6ff;
}

/*
ul.dropdown-submenu:hover {
	background-color: salmon;
}
*/

/**/

li#preview-song:hover {
	cursor: pointer;
	/*
	color: white;
	background-color:purple;
	background-color:salmon;
	*/
}

li#preview-song:hover ul.dropdown-submenu {
	cursor: pointer;
	display: inline;
	background-color: #a7d6ff;
	/*
	visibility: visible !important;
	*/
	width: 180px;
	text-overflow: ellipsis;
}

li#preview-song:hover ul.dropdown-submenu li:hover{
	background-color: #ddd;
	border: thin groove #000;
}

ul.dropdown-menu .view-menu-item:hover {
	background-color: #a7d6ff;
}

ul.dropdown-menu .help-menu-item:hover {
	background-color: #a7d6ff;
}


/*
.dropdown-menu-container {
	background-color: green;
}
*/

.dropdown-label {
	display: block;
}

#toolbar .dropdown-menu-container .dropdown-label:hover .dropdown-menu {
	visibility: visible;
	color: orange;
	background-color: #a7d6ff;
	background-color: green;
	border: thin ridge #000;
}

:root {
	--disabled-color: #aaa;
}

.disabled {
	/*
	color: #aaa !important;
	*/
	color: var(--disabled-color) !important;
	cursor: not-allowed !important;
}

/*
#viewmenu-toggle-console {
	color: var(--disabled-color);
}
*/

#button-toggle-console {
//	visibility: hidden;
	background-color: transparent;
	border: none;
}

#button-toggle-console:focus {
	outline: none;
}

.help-option {
	margin-right: 4em;
}

