  <div id="documentation">
    <h1>SongWriter Documentation</h1>

    <p>
      The SongWriter application is meant to be an aid in the writing and editing of a simple music lead sheet. As such you might compare it (at least structuarly) to a simple word processor dedicated to one particular type of document, i.e the music lead sheet.
		</p>

    <h3>Overview</h3>
		<p>
		  The application display consits of three sections, the toolbar, the console and the editor. The console and the editor are not always visible but are displayed based on user action; this action is expressed by use of the toolbar which is always visible at the top of the application display.
    </p>

    <h3>Toolbar</h3>
    <img src="/images/songwriter-toolbar.png" alt="songwriter toolbar">

    <div>
      The toolbar provides menu selections that enable interaction with the application including the File, View, Tools and Help top-level menu items. To learn more about using the application toolbar please read the "Toolbar Usage" section..
    </div>

    <h3>Console</h3>
    <img src="/images/songwriter-toolbar.png" alt="songwriter toolbar">

    <div>
      The console provides an input form that defnes a particualr song's header as well as a chord selection display.
    </div>

    <div>
      To best understand the SongWriter application we should start with the application toolbar (shown above), which is always present at the top of the application and presents the File, View, Tools and Help top level menu options. If an item is greyed out it means it is currently disabled, for example the Tools menu option shown above.
    </div>

    <div class="toolbar-help-topic">
      <div class="toolbar-help-label">The File menu is used to start a new lead-sheet or to open an existing lead-sheet for editing:</div>
      <img src="/images/songwriter-toolbar-file.png" alt="songwriter toolbar file menu">
      <div class="toolbar-file-text">
        <ul>
          <li>New  - Start a new lead sheet.</li>
          <li>Open  - Open an existing leadsheet to edit.</li>
          <li>Open Recent - Previously opened lead sheets are displayed here. If no files have been opened this option is greyed out.</li>
          <li>Save - Save the current file being edited on the server. This option is greyed unless there is something to save.</li>
          <li>Export - Export the lead sheet for download in various formats. This option is greyed as it is currently not implemented.</li>
          <li>Print - Print the current lead-sheet.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic">
      <div class="toolbar-help-label">The View menu contains the following options:</div>
      <img src="/images/songwriter-toolbar-view.png" alt="songwriter toolbar view menu">
      <div class="toolbar-view-text">
        <ul>
          <li>Hide/Show console - This option is greyed out until lead-sheet is active.</li>
          <li>Display Format - Greyed out as not yet implemented.</li>
          <li>Auto Layout - Layout song grid as best fits the screen of the device in use.</li>
          <li>4 Columns - Display lead-sheet in a four column grid.</li>
          <li>5 Columns - Display lead-sheet in a five column grid.</li>
          <li>6 Columns - Display lead-sheet in a six column grid.</li>
          <li>Print - Print the current lead-sheet.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic" style="padding-top:1.5em;">
      <div class="toolbar-help-label">The Tools menu will contain a metronome among other possible tools. Currently greyed out as not yet implemented.</div>
      <img src="/images/songwriter-toolbar.png" alt="songwriter toolbar">
      <div class="toolbar-tools-text">
        <ul>
          <li>Metronome - Greyed out as not yet implemented.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic" style="padding-top:1.5em;">
      <div class="toolbar-help-label">The Help menu contains the About and Documentation options:</div>
      <img src="/images/songwriter-toolbar-help.png" alt="songwriter toolbar help menu">
      <div class="toolbar-help-text">
        <ul>
          <li>About - General Application information.</li>
          <li>License - Application License information.</li>
          <li>Documentation - Application documentation.</li>
        </ul>
      </div>
    </div>

  </div>

