  <div id="documentation">
    <h1>SongWriter Documentation</h1>

    <p>
      The SongWriter application is meant to be an aid in the writing and editing of a simple music lead sheet. As such you might compare it (at least structuarly) to a simple word processor dedicated to one particular type of document, i.e the music lead sheet.
		</p>

    <h3>Overview</h3>
		<p>
		  The application display consits of three sections, the toolbar, the console and the editor. The console and the editor are not always visible but are displayed based on user action; this action is expressed by use of the toolbar which is always visible at the top of the application display.
    </p>

    <h3>The Toolbar</h3>
    <img src="/images/songwriter-toolbar.png" alt="songwriter toolbar">

    <p>
      The toolbar provides menu selections that enable interaction with the application including the File, View, Tools and Help top-level menu items. To learn more about using the application toolbar please read the "Toolbar Usage" section..
    </p>

    <h3>The Console</h3>
    <img src="/images/songwriter-console.png" alt="songwriter console">
		<p>
      The console appears when a song has been opened or upon starting a new song. It provides two panels, the one on left is for the input form that defnes a song's header, the one on the right is for chord selection.
		</p>

    <h3>The Editor</h3>
    <img src="/images/songwriter-body.png" alt="songwriter body">
		<p>
			The body editor appears once the song's header input form (in the console) has been filled in. Once all of the the required fields (marked with a red asterisk) have been entered the song Editor will appear upon tabbing out of the final input field. The Editor consists of highlighted boxes representing the song's measures and each measure is further divided into the number of beats specified by the time signature. There are three "voices" in each measure (from top to bottom) that represent the chord, beat and lyrics for that beat. The chord and lyric boxed are for user input and the middle voice (the beat or pulse) is a visual representation.
		</p>

    <h3>The Details</h3>
    <p>
      To best understand the SongWriter application we should start with the application toolbar (shown above), which is always present at the top of the application and presents the File, View, Tools and Help top level menu options. If an item is greyed out it means it is currently disabled, for example the Tools menu option shown above.
    </p>

    <div class="toolbar-help-topic">
      <div class="toolbar-help-label">The File menu is used to start a new lead-sheet or to open an existing lead-sheet for editing:</div>
      <img src="/images/songwriter-toolbar-file.png" alt="songwriter toolbar file menu">
      <div class="toolbar-file-text">
        <ul>
          <li>New  - Start a new lead sheet.</li>
          <li>Open  - Open an existing leadsheet to edit.</li>
          <li>Open Recent - Previously opened lead sheets are displayed here. If no files have been opened this option is greyed out.</li>
          <li>Save - Save the current file being edited on the server. This option is greyed unless there is something to save.</li>
          <li>Export - Export the lead sheet for download in various formats. This option is greyed as it is currently not implemented.</li>
          <li>Print - Print the current lead-sheet.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic">
      <div class="toolbar-help-label">The View menu contains the following options:</div>
      <img src="/images/songwriter-toolbar-view.png" alt="songwriter toolbar view menu">
      <div class="toolbar-view-text">
        <ul>
          <li>Hide/Show console - This option is greyed out until lead-sheet is active.</li>
          <li>Display Format - Greyed out as not yet implemented.</li>
          <li>Auto Layout - Layout song grid as best fits the screen of the device in use.</li>
          <li>4 Columns - Display lead-sheet in a four column grid.</li>
          <li>5 Columns - Display lead-sheet in a five column grid.</li>
          <li>6 Columns - Display lead-sheet in a six column grid.</li>
          <li>Print - Print the current lead-sheet.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic" style="padding-top:1.5em;">
      <div class="toolbar-help-label">The Tools menu will contain a metronome among other possible tools. Currently greyed out as not yet implemented.</div>
      <img src="/images/songwriter-toolbar.png" alt="songwriter toolbar">
      <div class="toolbar-tools-text">
        <ul>
          <li>Metronome - Greyed out as not yet implemented.</li>
        </ul>
      </div>
    </div>

    <div class="toolbar-help-topic" style="padding-top:1.5em;">
      <div class="toolbar-help-label">The Help menu contains the About and Documentation options:</div>
      <img src="/images/songwriter-toolbar-help.png" alt="songwriter toolbar help menu">
      <div class="toolbar-help-text">
        <ul>
          <li>About - General Application information.</li>
          <li>License - Application License information.</li>
          <li>Documentation - Application documentation.</li>
        </ul>
      </div>
    </div>

  </div>

